<% include ./management/other/head %>
<title>Admin Login</title>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/admin"><b>Admin</b><br/>Smart Home System</a>
        </div>
        <div class="login-box-body">
            <%if(messages!=null && messages.length>0){%>
                <div class="alert alert-danger">
                    <%=messages%>
                </div>
                <%}%>
                    <form action="/admin/loginadmin" method="post">
                        <div class="form-group has-feedback">
                            <input type="email" class="form-control" name="email" placeholder="Email" required>
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" name=password class="form-control" placeholder="Password" required>
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </form>
        </div>
    </div>
    <% include ./management/other/footer %>
</body>
