				<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4" id="item_room_<%=room._id%>">
					<a data-toggle="tab" href="#room_<%=room._id%>">
						<img src="<%=room.img%>" class="img img-responsive" width="100%">
						<figcaption class="text-center"><%=room.room_name%></figcaption>
					</a>
				</div>
