<img style="margin : auto; padding : 20px; display : block " src="https://smarthome2018.herokuapp.com/image/icon/ic_icon.png " />
<div> Hi <%-name%>,</div><br/>
<div>You have requested to register your account at Smart Home system.</div>
<div>If you did not make request, you can ignore this email.</div><br/>
<div>To confirm your account register, please click on this link: <a href="<%-link%>"></a></div>
<div><i>Note: This email is valid for 30 minutes</i></div>
<div> Best regards </div>
<div>Smart Home system</div>
