<img style="margin : auto; padding : 20px; display : block" src="https://smarthome2018.herokuapp.com/image/ic_icon.png" />
<div> Hi <%-name%>,</div><br/>
<div>We received a request to reset your SmartHome password</div><a href="<%-link%>">Click here to change your password</a>
<div>Alternatively, you can enter the following password reset code: <b><%-number%></b></div>
<div><i>Note: This email is valid for 5 minutes</i></div>
<hr>
<div> Best regards </div>
<div>Smart Home system</div>
