@font-face {
	font-family: "Lobster";
	src: url('/fonts/Lobster/VNF-Lobster.ttf');
}

body {
	background-image: url('/image/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

footer section {
	background-color: chocolate;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
}

hr {
	border-top: 1px solid chocolate;
}

.main {
	max-width: 1100px;
	min-height: 600px;
	margin: auto;
	margin-bottom: 15px;
}

a:hover{
	text-decoration: none;
}

.btn{
	border-radius: 0;
}

.panel{
	margin: 5px;
}

#image-preview {
	margin-top: 20px;
	resize: both;
	width: 100%;
	border: 1px solid;
	border-color: #c4dafb;
	background: white;
}

.image-profile-link {
	width: 30px;
	height: 30px;
	resize: both;
	border-color: chocolate;
	border: 1px solid;
	margin-top: -5px;
}
.img-100{
	width: 100px;
	height: 100px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.navbar{
	background-color: #fefdfc;
	position: sticky;
}

.font-lobster {
	font-family: "Lobster";
	font-size: 35px;
	color: #606060;
	text-shadow: 2px 2px 4px #b3abba;
}

.input-group-addon {
	background: white;
	border-radius: 4px 0 0 4px;
	min-width: 40px;
	border-color: #346bfe;
}

.form-control {
	border-color: #9e8036;
	height: 32px;
	border-radius: 0;
	margin: 0;
}

.space-input-item div {
	margin-top: 4px;
}

.type-user {
	margin-top: -30px;
	margin-left: 5px;
	padding: 5px;
	background: #eb3615;
}
.well, .jumbotron {
	background: rgba(221, 203, 190, 0.65);
	padding: 5px;
	border-radius: 0;
}

.thumbnail{
	background: rgba(221, 203, 190, 0.65);
	border: none;
}
.error {
	font-size: 14px;
	color: red;
	font-weight: lighter;
}

.edit-in-list {
	height: 25px;
	margin: 0;
}

.my-gallery {
	margin-top: -20px;;
	max-height:150px;
	height: 150px;
	display: inline-block;
	overflow: inherit;
	width: 100%;
}

.gallery-list-item {
	height: 100px;
	resize: both;
	margin-bottom: 2px;
}

.text-border{
	color : white;
	background : rgba(136, 83, 46, 0.71);
	border-radius : 2px;
	word-wrap:break-word;
	width: 75%;
	text-align: center;
	vertical-align: middle;
	margin: auto;
	height: 50px;
}

.bottomleft {
	bottom: 8px;
	left: 15px;
	color: white;
}

.item-off {
	-webkit-filter: grayscale(1);
}

.close {
	color : red;
	border-radius: 50%;
	position: absolute;
	background: rgba(0,0,0,0);
	float: right;
}
.close:hover{
	color : #e30404;
}

.img-room{
	resize: both;
	overflow: hidden;
	width: 100%;
}

.img-popup{
	position: absolute;
	bottom: 0;
	width: 87%;
	padding: 5px;
	background: rgba(255, 255, 255, 0.3);
}

.btn-add{
	border-radius: 50%;
	width: 50px;
	height: 50px;
	text-align: center;
	bottom: 100px;
	right: 40px;
	position: fixed;
	margin: auto;
	padding: 15px;
	align-items: center;
	align-content: center;
	align-self: center;
	text-align: center;
	box-shadow: 2px 2px 4px 3px gray;
	background: #956f1b;
	color: aliceblue;
}

.btn-add:hover{
	color: white;
	box-shadow: 2px 2px 2px 3px gray;
}

.error {
	color: red;
}

.orange{
	color: orange;
}

.white{
	color: white;
}

.badge-warning{
	background-color: #ec971f;
}

.bold{
	font-weight: bold;
}

.font24{
	font-size: 24px;
}

.font18{
	font-size: 18px;
}

.opacity-background {
	background-color: rgba(255, 255, 255, 0);
	border: none;
}

.uppercase{
	text-transform: uppercase;
}

.recycler-view{
	display: table-row;
	overflow-x: scroll;
	overflow-y: hidden;
	max-height: 130px;
	width: 100%;
}

figcaption{
	font-size: 12px;
	margin: auto;
	height: 40px;
}

.carousel {
	margin-bottom: 0;
	padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
	left: -120px;
	height: 40px;
	width: 40px;
	background: none repeat scroll 0 0 #222222;
	border: 4px solid #FFFFFF;
	border-radius: 23px 23px 23px 23px;
	margin-top: 90px;
}
.carousel-control.right {
	right: -120px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}

.controler-left{
	position: absolute;
	left: 15px;
}

.controler-right{
	position: absolute;
	right: 15px;
}

.col-lg-1p8{
	width: 12.5%;
	max-width: 12.5%;
}
@media screen and (min-width: 800px) {
    .col-lg-1p8 {
        width: auto;
    }
}