<%if(req.session.admin!=null){%>
<footer class="main-footer">
	<section class="row">
		<div>Design by <strong>Smart Home team</strong> <br>FIT Nong Lam University of Ho Chi Minh City</div>
	</section>
</footer>
<%}%>
<script src="/js/jquery.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/temp/dist/js/adminlte.min.js" type="text/javascript"></script>
<script src="/temp/dist/js/demo.js" type="text/javascript"></script>
