<img style="margin : auto; padding : 20px; display : block" src="https://smarthome2018.herokuapp.com/image/icon/ic_icon.png"/>
<div> Hi <%-name%>,</div><br/>
<div>We are happy to have you trust and use our Smart Home service. You can experience a more modern and safe life, just by controlling your phone.</div> <br/>
<div>In the Smart Home app, you can control devices in your home automatically or manually, based on turning on or off devices and the usage modes you set.</div> <br/>
<div>We will send you notifications via this email, do not miss the next important things.</div> <br/>
<div>We do not monitor replies to this email, but if you have questions, the Help Center may have the answers you are looking for.</div>
<div>We hope you enjoy your new account!</div>
