<!DOCTYPE html">
<html>

<head>
	<% include ./partials/head %>

		<title>Smart Home system</title>
</head>

<body>
	<% include ./partials/header %>
	<div class="container main">
		<div class="well panel  col-xs-8">
			<div class="panel-heading">
				<h3>Reset Your Password</h3>
			</div>
			<div class="panel-body">
				<form class="form" method="post" action="/recover/passwordsend">
					<label>We will send an email with the code to reset your password via email:</label>
					<b><%=emailx%></b>
					<div>
						<input type="submit" class="btn btn-primary btn-sm" value="Continue">
						<a class="btn btn-default btn-sm" href="/login">Cancel</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<% include ./partials/footer %>
</body>

</html>
