<!DOCTYPE html">
<html>

<head>
	<% include ./partials/head %>

		<title>Smart Home system</title>
</head>

<body>
	<% include ./partials/header %>
	<div class="container main">
		<div class="well panel  col-xs-8">
			<div class="panel-heading">
				<h3>Enter Security Code</h3>
			</div>
			<div class="panel-body">
				<% if(message){%>
				<p class="error"><%=message%></p>
				<%}%>
				<form class="form" method="post" action="/recover/passwordverify">
					<label>Please check your email: <b><%=emailx%></b> for a message with your code. Your code is 6 digits long.</label>
					<input type="number" placeholder="Enter code" class="form-control" name="verifycode" required><br>
					<div>
						<input type="submit" class="btn btn-primary btn-sm" value="Continue">
						<a class="btn btn-default btn-sm" href="/login">Cancel</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	<% include ./partials/footer %>
</body>

</html>
