<div class="account-holder">
	<h3>Login to Smart Home</h3>
	<br>
	<div class="social-btn">
		<h6>Sign in With</h6>
		<div class="fb-btn">
			<i class="fa fa-facebook"></i><a href="#" class="fb-btn-text">facebook</a>
		</div>
		<div class="google-btn">
			<i class="fa fa-google"></i><a href="#" class="google-btn-text">Google</a>
		</div>
	</div>
	<%if(messages!=null && messages.length>0){%>
	<div class="alert alert-danger"><%=messages%></div>
	<%}%>
	<div class="row">
		<form method="POST" action="/login" id="formLogin">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="form-group">
					<label class="control-label">Email<sup style="color: red">*</sup></label>
					<input id="email" type="email" class="form-control" placeholder="Enter Email Address" name="email" required>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="form-group">
					<label class="control-label">Password<sup style="color: red">*</sup></label>
					<input id="password" name="password" type="password" class="form-control" placeholder="Password" required>
				</div>
				<a href="/recover/password" class="forgot-password">Forgot Password?</a>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="checkbox">
					<label><input type="checkbox" name="remember">Remember login</label>
				</div>
				<input type="submit" class="btn btn-primary btn-block" value="Sign in" id="btnSignin"/>
			</div>
		</form>
	</div>
</div>