<!DOCTYPE html">
<html>
<head>
<% include ./partials/head %> 

<title>Device</title>
</head>
<body>
	<% include ./partials/header %>
	<div class="container main">
		<div class="row">
			<div class="col-md-4" style="background: red; min-height: 15px;">
			</div>
			<div class="col-md-8" style="background: blue; min-height: 15px;"></div>
		</div>
	</div>
	<% include ./partials/footer %>
</body>
</html>