<html>
<head>
<% include ./partials/head %>
<script>
	var token = localStorage.getItem('token');
	var socket = io({query : {'token': token}});
	socket.emit('join-room', token);
</script>
<link href="/css/switch.css" rel="stylesheet">
<title>Device</title>
</head>
<body>
	<div class="wrapper">
		<% include ./partials/header %>
		<div class="content-wrapper main">
			<div class="box box-primary">
				<div class="box-header  with-border">
					<h3 class="box-title">DEVICE</h3>
					<div class="box-tools pull-right">
						<a class="btn  btn-box-tool btn-info" id="btnAdd" href="#"><i class="fa fa-plus"></i></a>
						&nbsp;&nbsp;
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div>
				<div class="box-body">
					<div class="box-group"><%listRoom.forEach(function(room){%>
						<div class="col-xs-12">
							<div class="panel box box-primary box-solid">
								<div class="box-header with-border">
									<h4 class="box-title text-center"><%=room.room_name%></h4>
								</div>
								<div class="box-body" id="room_<%=room._id%>"><% if(room.listDevice.length==0){%>
									<div>No device is used</div><%}else{ room.listDevice.forEach((device)=>{%>
									<%-include('./partials/item_device2', {'device' : device})%>
									<%});}%>
								</div>
							</div>
						</div><%}); %>
						<div class="col-xs-12">
							<div class="panel box box-primary box-solid" id="listNoRoom">
								<div class="box-header with-border">
									<h4 class="box-title">Other device</h4>
									<div class="box-tools pull-right">
										<button class="btn btn-box-tool" title="Update your device"><i class="fa fa-edit text-orange"></i></button>
										<button class="btn btn-box-tool" title="Delete your device"><i class="fa fa-times text-red"></i></button>
									</div>
								</div>
								<div class="box-body" id="noroom"><%listDevice.forEach((device)=>{%>
									<%- include('./partials/item_device_noroom', {'device': device})%>
								<%});%>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% include ./partials/footer %>
	</div>
	<script src="/sockets/device.js"></script>
	<script>
	function editDevice(e){
		$(e).parent().children('input:text').show();
		$(e).hide();
	}
	function submitEditDevice(id, e){
		let name = $(e).val();
		let data = {'_id' : id, 'device_name' : name};
		socket.emit('client_send_update_device_in_room', {'data' : data});
		$(e).hide();
		$(e).parent().children('figcaption').show();
	}
		
	function overScope(e){
		$(e).val($(e).parent().children('figcaption').val());
		$(e).hide();
		$(e).parent().children('figcaption').show();
	}
	</script>
</body>
