<head>
<% include ./partials/head %>
<% if(alertmessage!=null && alertmessage.length>0){%>
<script>
$(document).ready(function(){
	alert('<%=alertmessage%>');
});
</script>
<%}%>
<title>Home</title>
</head>
<body>
	<% include ./partials/header %>
	<div class="container-fluid main">
	<% if((req.session.authentication != true || req.session.user ==null)){%>
		<% include ./form/login %>
	<%} %>
	</div>
	<% include ./partials/footer %>
</body>
