<html>
<head>
<% include ./partials/head %>
<link href="/css/switch.css" rel="stylesheet">
<script type="text/javascript" src="/js/ejs/ejs.js"></script>
<script>
	var token = localStorage.getItem('token');
	var socket = io({query: {'token': token}});
	socket.emit('join-room', token);
</script>
<script type="text/javascript" src="/sockets/mode.js"></script>
	
<title>Mode</title>
</head>
<body>
	<% include ./partials/header %>
	<div class="container main"><%if(listMode.length>0){listMode.forEach(function(mode){%>
		<%- include('./partials/item_mode', {'mode' : mode})%><%});}else{%>
		<div class="alert alert-warning">You don't have any Mode</div><%}%>
		<a class="label" href="/mode/add"><i class="fa fa-plus fa-4x btn btn-add"></i></a>
	</div>
	<% include ./partials/footer %>
</body>
</html>
