<!DOCTYPE html">
<html>

<head>
	<% include ./partials/head %>
		<link rel="stylesheet" href="/css/home.css">
		<title>Room</title>
</head>

<body>
	<% include ./partials/header %>
	<div class="container main">
		<div class="row">
		<% 	for(var i =0; i<listRoom.length; i++){
				var room = listRoom[i];
				var name = '';
				if(room.room_name.length < 30){
					name = room.room_name;
				}else{
					name = room.room_name.substring(0, 25)+'...';
				}
				%>
			<div class="col-md-3 col-xs-6 col-sm-4">
			<div class="thumbnail">
				<a href="/room/<%=room._id%>">
					<img src="<%= room.img %>" alt="room" style="width:100%; min-height: 17vw" class="img-room img img-circle">
					<div class="caption text-center text-border"><font style="font-size: 21px;"><%=name%></font></div>
				</a>
			</div>
			</div>
		<%}%>
		</div>
		<a class="label" href="/room/add"><i class="fa fa-plus fa-4x btn btn-add"></i></a>
	</div>
	<% include ./partials/footer %>
</body>

</html>
