<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<% include partials/head %>
<style>
.thank-box {
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 60px;
	padding-right: 60px;
	margins: auto;
	font-family: 'Tahoma';
	font-size: 15px;
	line-heigh: 1.3;
	width: 700px;
	heigh: 400px;
	align-content: center;
}
</style>
<title>Thank you</title>
</head>
<body>
	<% include partials/header %>
	<div class="container main">
		<div class="well panel col-xs-8">
			<h2 class="text-center">Thank you</h2>
			<div class="media">
				<i class="fa fa-heart fa-5x pull-left" style="color: #ff4451;"></i>
				<p>We are happy to have you trust and use our Smart Home
					service. You can experience a more modern and safe life, just by
					controlling your phone.</p>
			</div>
			<hr />
			<div class="media">
				<i class="fa fa-mobile fa-5x pull-right" style="color: black"></i>
				<p>In the Smart Home app, you can control devices in your home
					automatically or manually, based on turning on or off devices and
					the usage modes you set.</p>
			</div>
			<hr />
			<div class="media">
				<i class="fa fa-envelope fa-5x pull-left" style="color: blue"></i>
				<p>We will send you notifications via this email, do not miss
					the next important things.</p>
			</div>
			<hr />
			<div class="media">
				<i class="fa fa-comments fa-5x pull-right" style="color: #ff0451"></i>
				<p>We do not monitor replies to this email, but if you have
					questions, the Help Center may have the answers you are looking
					for.</p>
				<p>We hope you enjoy your new account!</p>
			</div>
		</div>
	</div>
	<% include partials/footer %>
</body>
</html>